<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/Treetog-Junior-Document-adobe-illustrator.ico" rel="icon">

  <title>Automated Attendance System</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a title="" class="active">001</a></li>
            <li><a href="./work1.html" title="">002</a></li>
            <li><a href="./work2.html" title="">003</a></li>
            <li><a href="./work3.html" title="">004</a></li>
            <li><a href="./work4.html" title="">005</a></li>
            <li><a href="./work5.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : AUTOMATED ATTENDANCE SYSTEM</h1>
          </div>
          <p>Automated Attendance system is a computer vision application developed during my post graduation by using MATLAB tool and Digital Image Processing technique.</p>

          <blockquote>
            <p>Technologies:
C++, MATLAB, Image processing toolbox.</p>
          </blockquote>

          <p><b>Background/Objectives:</b> The objective of this paper is to introduce an automated attendance marking system for LPU
using CCTV cameras. It detects the students sitting in the class and takes the attendance automatically without any human
assistance and count total number of students present in the class also. <b>Methods/Statistical Analysis:</b> An enhanced
detection algorithm is proposed that is having two phases: color image processing of RGB planes and modified background
subtraction of image which executed simultaneously for object detection. Before detection process, noise is removed from
images by using log function which uniformly distributes the brightness over the image. To count the number of detected
objects, a counter is used which calculates total number of objects present in an image. The Automatic ROI detection
algorithm is also proposed which detects region of interest automatically on the basis of repeated regular pattern of object.<br>
<b>Findings:</b> The system able to count and mark attendance of students sitting in class room. Implementation shows that our
proposed approach has 89.5% accuracy with less false positive and false negative rate as compared to other traditional
approaches. The Automatic ROI detection algorithm also detects the region of interest with considerably high accuracy.<br>
<b>Application/Improvements:</b> The proposed system will easy to deploy in various schools, colleges, universities and other
educational institutes with minimal setup cost where CCTV cameras are already installed in class rooms.</p>
          <p>
            <a href="https://www.researchgate.net/publication/306008030_An_Automated_Attendance_System_A_Technique_using_Background_Subtraction_and_Color_Image_Processing_of_RGB_Planes", target="_blank"><b><h3>Read More</h3></b></a>
            <a href="http://52.172.159.94/index.php/indjst/article/download/98375/71890"><b><h3>Download Full Paper</h3></b></a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>